* @aws-amplify/amplify-js
**/__tests__/defined-behavior/ @aws-amplify/amplify-js-admins
packages/*/docs @aws-amplify/amplify-js-admins
scripts/* @aws-amplify/amplify-js-admins
package.json @aws-amplify/amplify-js-admins
