coverage
lib
lib-esm
dist
node_modules
tsconfig.tsbuildinfo

.turbo
.idea
.eslintcache
.nvmrc
.DS_Store
verdaccio-cache
verdaccio-logs.txt
.attest

packages/*/temp
packages/*/temp-full

# rollup
**/.rollup.cache
**/buildMeta
