coverage
lib
lib-esm
dist
node_modules
tsconfig.tsbuildinfo
typedocs/reference.json

.turbo
.idea
.eslintcache
.nvmrc
.npmrc
.DS_Store
verdaccio-cache
verdaccio-logs.txt
.attest

packages/*/temp

# rollup
**/.rollup.cache
**/buildMeta