name: API Check

on: workflow_call

jobs:
  check-api:
    name: Check Type Perf
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0 https://github.com/actions/checkout/commit/24cb9080177205b6e8c946b17badbe402adc938f
        with:
          path: amplify-api-next
      - name: Setup node and build the repository
        uses: ./amplify-api-next/.github/actions/node-and-build
      - name: Run checks
        working-directory: ./amplify-api-next
        run: npm run check:type-perf
      - name: Type Perf Check Instructions
        if: failure()
        run: |
          echo
          echo "Oh no!! The Type Perf Check Failed!"
          echo
          echo "The changes in this PR introduced type performance degradation that exceeds the configured threshold (1%)"
          echo
          echo "Check the error message above to see which benchmark file(s) are affected."
          echo 
          echo "If this change is expected, please baseline the benchmarks. Run `npm run baseline:benchmarks`"
          echo
          echo "Then commit and push the changes."
          echo
          exit 1
