name: E2E Test
run-name: e2e.${{ inputs.test_name }}

on:
  workflow_call:
    inputs:
      test_name:
        required: true
        type: string
      framework:
        required: true
        type: string
      category:
        required: true
        type: string
      sample_name:
        required: true
        type: string
      spec:
        required: true
        type: string
      browser:
        required: true
        type: string
      backend:
        required: true
        type: string
      amplifyjs_dir:
        required: true
        type: boolean
      timeout_minutes:
        required: true
        type: number
      retry_count:
        required: true
        type: number
      yarn_script:
        required: false
        type: string
env:
  AMPLIFY_DIR: /home/runner/work/amplify-data/amplify-data/amplify-data

jobs:
  e2e-test:
    name: E2E ${{ inputs.test_name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser:
          - ${{ fromJson(inputs.browser) }}
        sample_name:
          - ${{ fromJson(inputs.sample_name) }}
      fail-fast: false
    timeout-minutes: ${{ inputs.timeout_minutes }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          path: amplify-data
      - name: Setup node and build the repository
        uses: ./amplify-data/.github/actions/node-and-build
      - name: Setup samples staging repository
        uses: ./amplify-data/.github/actions/setup-samples-staging
        with:
          AMPLIFY_JS_SAMPLES_STAGING_READ: ${{ secrets.AMPLIFY_JS_SAMPLES_STAGING_READ }}
      - name: Load Verdaccio with AmplifyApiNext
        uses: ./amplify-data/.github/actions/load-verdaccio-with-amplify-data
      - name: Run cypress tests for ${{ inputs.test_name }} dev
        shell: bash
        working-directory: amplify-js-samples-staging
        env:
          E2E_FRAMEWORK: ${{ inputs.framework }}
          E2E_CATEGORY: ${{ inputs.category }}
          E2E_SAMPLE_NAME: ${{ matrix.sample_name }}
          E2E_SPEC: ${{ inputs.spec }}
          E2E_BROWSER: ${{ matrix.browser }}
          E2E_BACKEND: ${{ inputs.backend }}
          E2E_AMPLIFY_JS_DIR: ${{ inputs.amplifyjs_dir == true && env.AMPLIFY_DIR || ''}}
          E2E_RETRY_COUNT: ${{ inputs.retry_count }}
          E2E_TEST_NAME: ${{ inputs.test_name }}
          E2E_YARN_SCRIPT: ${{ inputs.yarn_script }}
        run: |
          if [ -z "$E2E_YARN_SCRIPT" ]; then
            ../amplify-data/scripts/retry-yarn-script.sh -s \
            "ci:test \
            $E2E_FRAMEWORK \
            $E2E_CATEGORY \
            $E2E_SAMPLE_NAME \
            $E2E_SPEC \
            $E2E_BROWSER \
            dev \
            $E2E_BACKEND \
            $E2E_AMPLIFY_JS_DIR" \
            $E2E_YARN_SCRIPT \
            -n $E2E_RETRY_COUNT
          else
            echo "Skipping specialized yarn script execution in the dev environment."
          fi
      - name: Run cypress tests for ${{ inputs.test_name }} prod
        shell: bash
        working-directory: amplify-js-samples-staging
        env:
          E2E_FRAMEWORK: ${{ inputs.framework }}
          E2E_CATEGORY: ${{ inputs.category }}
          E2E_SAMPLE_NAME: ${{ matrix.sample_name }}
          E2E_SPEC: ${{ inputs.spec }}
          E2E_BROWSER: ${{ matrix.browser }}
          E2E_BACKEND: ${{ inputs.backend }}
          E2E_AMPLIFY_JS_DIR: ${{ inputs.amplifyjs_dir == true && env.AMPLIFY_DIR || ''}}
          E2E_RETRY_COUNT: ${{ inputs.retry_count }}
          E2E_TEST_NAME: ${{ inputs.test_name }}
          E2E_YARN_SCRIPT: ${{ inputs.yarn_script }}
        run: |
          if [ -z "$E2E_YARN_SCRIPT" ]; then
            ../amplify-data/scripts/retry-yarn-script.sh -s \
            "ci:test \
            $E2E_FRAMEWORK \
            $E2E_CATEGORY \
            $E2E_SAMPLE_NAME \
            $E2E_SPEC \
            $E2E_BROWSER \
            prod \
            $E2E_BACKEND \
            $E2E_AMPLIFY_JS_DIR" \
            $E2E_YARN_SCRIPT \
            -n $E2E_RETRY_COUNT
          else
            yarn "$E2E_YARN_SCRIPT"
          fi
      - name: Upload artifact
        uses: actions/upload-artifact@v4 # v4 https://github.com/actions/upload-artifact
        if: failure()
        with:
          name: ${{ inputs.test_name }}
          if-no-files-found: ignore
          path: |
            amplify-js-samples-staging/cypress/videos
            amplify-js-samples-staging/cypress/screenshots
          retention-days: 14
