name: Push - release from main to unstable

concurrency:
  # group name unique for push to push-main-release
  group: push-release-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  # the first 2 jobs will be redundant once we start using PRs into this repo (i.e. after the first release)
  # TODO: remove the 2 jobs
  prebuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0 https://github.com/actions/checkout/commit/24cb9080177205b6e8c946b17badbe402adc938f
        with:
          path: amplify-api-next
      - name: Setup node and build the repository
        uses: ./amplify-api-next/.github/actions/node-and-build
        with:
          is-prebuild: true
  unit-tests:
    needs:
      - prebuild
    uses: ./.github/workflows/callable-unit-tests.yml
  e2e:
    secrets: inherit
    uses: ./.github/workflows/callable-release-verification.yml
  release:
    needs:
      - unit-tests
      - e2e
    secrets: inherit
    uses: ./.github/workflows/callable-npm-publish-release.yml
