name: Push - release from main to unstable

concurrency:
  # group name unique for push to push-main-release
  group: push-release-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      # NOTE: to run E2E tests against an `amplify-api-next` branch, add the name
      # of that branch (and corresponding `amplify-js-samples-staging` branch, if
      # testing sample / test changes) here.
      # Must disable publishing to NPM prior to adding this branch to avoid
      # accidentally publishing changes.
      - main

jobs:
  release-verification-testing:
    secrets: inherit
    uses: ./.github/workflows/callable-release-verification.yml
  release:
    needs:
      - release-verification-testing
    secrets: inherit
    uses: ./.github/workflows/callable-npm-publish-release.yml
